wheel
alembic
BeautifulSoup4
Flask
Flask-Bootstrap
Flask-SQLAlchemy
Flask-WTF
Flask-Login
Jinja2
gunicorn
google-api-python-client
SQLAlchemy
oauth2client
pymates @ git+https://github.com/jonkensta/inmate-providers@curl
