<li class="list-group-item comment" id="comment-{{ comment.autoid }}">
  <div>
    {% if comment.author and comment.author.name %}
    <small>{{ comment.datetime.date() }} by <strong>{{ comment.author.name }}</strong></small>
    {% else %}
    <small>{{ comment.datetime.date() }} </small>
    {% endif %}
    <span class="pull-right">
      <button class="btn btn-default btn-xs comment-delete">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>
  </div>
  <p>{{ comment.body }}</p>
</li>
