{% extends "layout.html" %}
{% block title %}IBP Metrics{% endblock title %}
{% block content %}
<div class="container">
  <div class="page-header"><h2>IBP Metrics</h2></div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Requests</h3>
      <canvas id="letter_chart" width="900" height="600"></canvas>

      <h3>Shipping</h3>
      <canvas id="shipping_chart" width="900" height="600"></canvas>
    </div>
  </div>
</div>
{%- endblock content %}
{% block styles %}
{{ super() }}
<style>
.chart {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
.red-line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

</style>
{%- endblock styles %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.bundle.min.js') }}"></script>
<script type="application/javascript">
{% raw %}
jQuery(window).ready(function($) {
  $.getJSON("/metrics/request_counts", function(lettersReceivedData) {
    $.getJSON("/metrics/new_request_counts", function(newInmateData) {
      var ctx = document.getElementById("letter_chart").getContext("2d");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: lettersReceivedData['dates'],
          datasets: [
            {
              label: 'First-time Requests',
              data: newInmateData['counts'],
              backgroundColor: "rgba(255,0,0,0.5)",
              color: "rgba(255,0,0,1)"
            },
            {
              label: 'Total Letters',
              data: lettersReceivedData['counts'],
              backgroundColor : "rgba(0,0,255,0.5)",
              color: "rgba(0,0,255,1)"
            }
          ]
        },
        options: {
          scales: {
            xAxes: [{
              type: 'time',
              ticks: {
                autoSkip: true
              }
            }]
          },
          pointDot: false
        }
      });
    });
  });
  $.getJSON("/metrics/shipping_volume", function(data) {
    var ctx = document.getElementById("shipping_chart").getContext("2d");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: data['dates'],
        datasets: [{
          label: 'Shipping Volume (pounds)',
          data: data['pounds'],
          backgroundColor: "rgba(0,255,0,0.8)",
          color: "rgba(0,255,0,1)"
        }]
      },
      options: {
        scales: {
          xAxes: [{
              type: 'time',
              ticks: {
                autoSkip: true
              }
          }]
        },
        pointDot: false
      }
    });
  });
});
{% endraw %}
</script>
{%- endblock scripts %}
