{% extends "layout.html" %}
{% block title %}Inmate Search{% endblock title %}
{% block content %}
<div class="container">
  {% import "renderers.html" as render %}
  <div class="row top-buffer">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="page-header"><h2>Inmate Lookup</h2></div>
      <form class="form-vertical" role="form" action="{{ url_for('search_inmates') }}" method="POST">
        {{ form.csrf_token }}
        <fieldset>
          <div class="row">
            <div class="col-xs-4">
              {{ render.field(form.first_name) }}
            </div>
            <div class="col-xs-4">
              {{ render.field(form.last_name) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              OR
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-xs-4">
              {{ render.field(form.id_) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(function () {
    $("[data-toggle='tooltip']").tooltip();
  });
</script>
{% endblock scripts %}
