{% extends "layout.html" %}
{% block title %}View Inmate{% endblock %}
{% block content %}
<div class="container theme-showcase">
  <div class="page-header">
    <h1>Inmate Information</h1>
  </div>
  <div class="row equal">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inmate Lookup</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            {% if inmate.url %}
            <dd><a href='{{ inmate.url }}'>{{ inmate.first_name + ' ' + inmate.last_name }}</a></dd>
            {% else %}
            <dd>{{ inmate.first_name + ' ' + inmate.last_name }}</dd>
            {% endif %}

            <dt>Unit:</dt>
            {% if inmate.unit and inmate.unit.url %}
            <dd><a href='{{ inmate.unit.url }}'>{{ inmate.unit.name or "Not Available"}}</a></dd>
            {% else %}
            <dd>{{ inmate.unit and inmate.unit.name or "Not Available" }}</dd>
            {% endif %}

            <dt>Jurisdiction:</dt>
            <dd>{{ inmate.jurisdiction }}</dd>

            <dt>ID:</dt>
            <dd>{{ "{:08d}".format(inmate.id) }}</dd>

            <dt>Race:</dt>
            <dd>{{ inmate.race or "Not Available" }}</dd>

            <dt>Sex:</dt>
            <dd>{{ inmate.sex or "Not Available" }}</dd>

            <dt>Release date:</dt>
            <dd>{{ inmate.release or "Not Available"}}</dd>

            <dt>Date verified:</dt>
            <dd>{{ inmate.datetime_fetched and inmate.datetime_fetched.date() or "Not Available" }}</dd>

            <dt>Lookups:</dt>
            <dd>
            <ul style="list-style-type: none;">
              {% for lookup in inmate.lookups -%}
              <li>{{ lookup.strftime("%Y-%m-%d at %H:%M") }}</li>
              {%- endfor %}
            </ul>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="display: flex; flex-direction: column;">
        <div class="panel-heading">
          <h3 class="panel-title">Package Requests</h3>
        </div>
        <div class="panel-body" style="flex: 1; display:flex; flex-direction: column;">
          <div style="flex: 1; max-height: 250px; overflow-y: auto;">
            <table class="table table-hover" id="request-table">
              <tr id="request-table-header">
                <th>Postmark</th>
                <th>Action</th>
                <th></th>
                <th></th>
              </tr>
              {% for request in inmate.requests %}
                {% include 'request.html' %}
              {% endfor %}
            </table>
          </div>
          <div class="top-buffer">
            <label for="postmarkdate">USPS postmark date:</label>
            <div class="input-group input-group-sm date">
              <input id="postmarkdate" class="form-control" type="text" name="postmarkdate" placeholder="YYYY-MM-DD" readonly{% if postmarkdate is not none %} value="{{ postmarkdate }}"{% endif %}>
              <div class="input-group-btn">
                <button type="submit" name="action" value="Filled" class="btn btn-default" id="request-fill" autofocus>Fill</button>
                <button type="submit" name="action" value="Tossed" class="btn btn-default" id="request-toss">Toss</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="display: flex; flex-direction: column;">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body" style="flex: 1; display: flex; flex-direction: column;">
          <div style="flex: 1;">
            <ul class="list-group" id="comment-list" style="max-height: 250px; overflow-y: auto;">
              {% for comment in inmate.comments %}
                {% include 'comment.html' %}
              {% endfor %}
            </ul>
          </div>
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">
              Add Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>Add Comment</span>
          <button type="button" class="close pull-right" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div id="comment-fieldset" class="modal-body">
        {% include "comment_fieldset.html" %}
      </div>
      <div class="modal-footer">
        <input id="comment-submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
</div>
{%- endblock content %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')}}">
<style>
.comment .comment-delete {
  visibility: hidden;
}
.comment:hover .comment-delete {
  visibility: visible;
}
.request .request-delete {
  visibility: hidden;
}
.request:hover .request-delete {
  visibility: visible;
}
.equal, .equal > div[class*='col-'] {  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.panel {
  width: 100%;
}
.dl-horizontal {
  margin-bottom: 0px;
}
.dl-horizontal dt {
  text-align: left;
  width: auto;
  padding: 0.5em 1em 0 0;
}
.dl-horizontal dd {
  width: auto;
  text-align: right;
  margin-left: auto;
  padding: 0.5em 0 0 0;
}
</style>
{%- endblock styles %}
{% block scripts %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script type="application/javascript" charset="UTF-8" src="{{ url_for('static', filename='js/DYMO.Label.Framework.latest.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/bootbox/bootbox.min.js') }}"></script>
<script type="application/javascript">
var printLabel = function(labelXml){
  var label = dymo.label.framework.openLabelXml(labelXml);

  var printers = dymo.label.framework.getPrinters();
  if (printers.length === 0)
    throw "No DYMO printers are installed.";

  var isLabelWriterPrinter = function(printer) {
      return (printer.printerType === "LabelWriterPrinter");
  };
  printers = printers.filter(isLabelWriterPrinter);

  var isConnected = function(printer) {
      return (printer.isConnected);
  }
  printers = printers.filter(isConnected);

  var isLocal = function(printer) {
      return (printer.isLocal);
  }
  printers = printers.filter(isLocal);

  if (printers.length === 0) {
    throw "No DYMO label writers connected."
  } else if (printers.length > 1) {
    throw "More than one DYMO label writer connected."
  }

  var printerName = printers[0].name;
  label.print(printerName);
};

jQuery(window).ready(function($) {
  // enable bootstrap tooltips
  $('[data-toggle="tooltip"]').tooltip(); 

  // enable CRSF protection
  var csrf_token = "{{ csrf_token() }}";

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });

  // handle adding and removing new comments
  var addComment = function(inmate_autoid){
    return $.ajax({
      url: '/add_comment/' + inmate_autoid,
      type: 'POST',
      data: {
        author: $("#author").val(),
        comment: $("#comment").val()
      }
    });
  };

  $("#comment-submit").click(function(e){
    e.stopPropagation();
    $("#comment-submit").prop("disabled", true);

    var query = addComment("{{ inmate.autoid }}");

    query.done(function(result){
      $("#comment-list").prepend(result["comment"]);
      $("#comment-fieldset").html(result["fieldset"]);

      // hide the modal
      $('#comment-modal').modal('hide')

      // re-register the delete click handler
      registerClickDeleteComment();
    });

    query.fail(function(result){
      $("#comment-fieldset").html(result.responseText);
      $('[data-toggle="tooltip"]').tooltip(); 
    });

    query.always(function(result){
      setTimeout(function() { $("#comment-submit").prop("disabled", false); }, 1000);
    });
  });

  var deleteComment = function(comment_id){
    var query = $.ajax({ url: '/delete_comment/' + comment_id, type: 'DELETE' });
    query.done(function(result){
      $("#comment-" + comment_id).remove();
    });
    return query;
  };

  var registerClickDeleteComment = function(){
    $(".comment-delete").click(function(e){
      e.stopPropagation();
      $(e.target).prop("disabled", true);
      var comment_id = $(e.target).parents('li.comment')[0].id.replace('comment-', '');
      deleteComment(comment_id)
      .fail(function(result){
        setTimeout(function() { $(e.target).prop("disabled", false); }, 1000);
      });
    });
  };
  registerClickDeleteComment();

  // handle adding and removing new requests
  var addRequest = function(action){
    return $.ajax({
      url: '/add_request/{{ inmate.autoid }}', type: 'POST',
      data: { postmarkdate: $("#postmarkdate").val(), action: action }
    });
  };

  var fillRequest = function(){
    var query = addRequest('Filled');
    query.done(function(result){
      $("#request-table-header").after(result["request"]);
      registerClickHandlers();

      var request_id = result["request_autoid"];
      var request_label_id = "#request-label-" + request_id;
      $(request_label_id).focus();
    });
    return query;
  };

  var checkRequestWarnings = function(request_id){
    var query = $.ajax({ url: '/request_warnings/' + request_id, type: 'POST' });
    query.done(function(result){
      if (!result) {
        var request_label_id = "#request-label-" + request_id;
        $(request_label_id).focus();
      }
    });
    return query;
  };

  var checkRequestAlerts = function(request_id){
    var query = $.ajax({ url: '/request_alerts/' + request_id, type: 'POST' });
    query.done(function(result){
      if (result) {
        bootbox.dialog({
          title: "Alert for this Inmate",
          closeButton: false,
          message: result,
          buttons: {
            success: {
              label: 'OK',
              callback: function (result) {
                $('.bootbox').on('hidden.bs.modal', function (e) {
                  $("#inmate_id").focus();
                });
              }
            }
          }
        });
      }
    });
    return query;
  };

  var confirmRequest = function(request_id, message){
    bootbox.confirm({
      title: "Request Warnings",
      message: message,
      buttons: { cancel: { label: 'Bypass' }, confirm: { label: 'Toss' } },
      callback: function (result) {
        if(!result) {
          $('.bootbox').on('hidden.bs.modal', function (e) {
            var request_label_id = "#request-label-" + request_id;
            $(request_label_id).focus();
          });
        } else {
          tossRequest(request_id);
        }
      }
    });
  };

  var deleteRequest = function(request_id){
    var query = $.ajax({ url: '/delete_request/' + request_id, type: 'DELETE' });
    query.done(function(result){
      $("#request-" + request_id).remove();
    });
    return query;
  };

  // register request delete buttons
  var registerDeleteClickHandler = function() {
    $(".request-delete").click(function(e){
      e.stopPropagation();
      $(e.target).prop("disabled", true);
      var request_id = $(e.target).parents('tr.request')[0].id.replace('request-', '');
      deleteRequest(request_id)
      .fail(function(result){
        setTimeout(function() { $(e.target).prop("disabled", false); }, 1000);
      });
    });
  };
  registerDeleteClickHandler();

  var tossRequest = function(request_id){
    var query = $.ajax({url: '/toss_request/' + request_id, type: 'POST' });
    query.done(function(result){
      var rendered = result["request"];
      $("#request-" + request_id).remove();
      $("#request-table-header").after(rendered);
      registerClickHandlers();
      $("#inmate_id").focus();
    });
    return query;
  };

  $("#request-fill").click(function(e){
    // immediately disable button to prevent multiple events
    e.stopPropagation();
    $("#request-fill").prop("disabled", true);

    fillRequest()
    .done(function(result){
      var request_id = result["request_autoid"];
      checkRequestAlerts(request_id)
      .done(function(result){
        if (!result) {
          checkRequestWarnings(request_id)
          .done(function(result){
            if (result) {
              confirmRequest(request_id, result);
            }
          });
        }
      });
    })
    .always(function(result){
      setTimeout(function() { $("#request-fill").prop("disabled", false); }, 1000);
    });
  });

  $("#request-toss").click(function(e){
    e.stopPropagation();
    $("#request-toss").prop("disabled", true);

    var query = addRequest();
    query.done(function(result){
      var request_id = result["request_autoid"];
      checkRequestAlerts(request_id).done(function(result){
        if (!result) {
          tossRequest(request_id);
        }
      });
    });

    query.always(function(result){
      setTimeout(function() { $("#request-toss").prop("disabled", false); }, 1000);
    });
  });

  // label printing methods
  var getLabel = function(request_id){
    return $.ajax({ url: '/request_label/' + request_id, type: 'POST' });
  };

  var registerPrintHandler = function(){
    $(".request-label-print").click(function(e){
      e.stopPropagation();
      $(e.target).prop("disabled", true);

      var request_id = $(e.target).parents('tr.request')[0].id.replace('request-', '');
      var query = getLabel(request_id);

      query.done(function(result){
        try {
          printLabel(result);
        } catch(err) {
          alert(err);
        }
      });

      query.fail(function(result){
        alert(result.responseText);
      });

      query.always(function(result){
        setTimeout(function() { $(e.target).prop("disabled", false); }, 1000);
        $("#inmate_id").focus();
      });
    });
  };

  var registerClickHandlers = function() {
    registerDeleteClickHandler();
    registerPrintHandler()
  };
  registerClickHandlers();

  // datepicker for postmark date
  $('#postmarkdate').datepicker({
    format: 'yyyy-mm-dd',
    endDate: '{{ date_today }}',
    autoclose: true
  });
});
</script>
{%- endblock scripts %}
