{% extends "layout.html" %}
{% block title %}View Inmate{% endblock %}
{% block content %}
<div class="container theme-showcase">
  <div class="page-header">
    <h1>Inmate Information</h1>
  </div>
  <div class="row equal">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inmate Lookup</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            {% if inmate.url %}
            <dd><a href='{{ inmate.url }}'>{{ inmate.first_name + ' ' + inmate.last_name }}</a></dd>
            {% else %}
            <dd>{{ inmate.first_name + ' ' + inmate.last_name }}</dd>
            {% endif %}

            <dt>Unit:</dt>
            {% if inmate.unit and inmate.unit.url %}
            <dd><a href='{{ inmate.unit.url }}'>{{ inmate.unit.name or "Not Available"}}</a></dd>
            {% else %}
            <dd>{{ inmate.unit and inmate.unit.name or "Not Available" }}</dd>
            {% endif %}

            <dt>Jurisdiction:</dt>
            <dd>{{ inmate.jurisdiction }}</dd>

            <dt>ID:</dt>
            <dd>{{ "{:08d}".format(inmate.id) }}</dd>

            <dt>Race:</dt>
            <dd>{{ inmate.race or "Not Available" }}</dd>

            <dt>Sex:</dt>
            <dd>{{ inmate.sex or "Not Available" }}</dd>

            <dt>Release date:</dt>
            <dd>{{ inmate.release or "Not Available"}}</dd>

            <dt>Date verified:</dt>
            <dd>{{ inmate.datetime_fetched and inmate.datetime_fetched.date() or "Not Available" }}</dd>

            <dt>Lookups:</dt>
            <dd>
            <ul style="list-style-type: none;">
              {% for lookup in inmate.lookups -%}
              <li>{{ lookup.strftime("%Y-%m-%d at %H:%M") }}</li>
              {%- endfor %}
            </ul>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="display: flex; flex-direction: column;">
        <div class="panel-heading">
          <h3 class="panel-title">Package Requests</h3>
        </div>
        <div class="panel-body" style="flex: 1; display:flex; flex-direction: column;">
          <div style="flex: 1; max-height: 250px; overflow-y: auto;">
            <table class="table table-hover" id="request-table">
              <tr id="request-table-header">
                <th>Postmark</th>
                <th>Action</th>
                <th></th>
                <th></th>
              </tr>
              {% for request in inmate.requests %}
                {% include 'request.html' %}
              {% endfor %}
            </table>
          </div>
          <div class="top-buffer">
            <label for="postmarkdate">USPS postmark date:</label>
            <div class="input-group input-group-sm date">
              <input id="postmarkdate" class="form-control" type="text" name="postmarkdate" placeholder="YYYY-MM-DD" readonly{% if postmarkdate is not none %} value="{{ postmarkdate }}"{% endif %}>
              <div class="input-group-btn">
                <button type="submit" name="action" value="Filled" class="btn btn-default" id="request-fill" autofocus>Fill</button>
                <button type="submit" name="action" value="Tossed" class="btn btn-default" id="request-toss">Toss</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default" style="display: flex; flex-direction: column;">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body" style="flex: 1; display: flex; flex-direction: column;">
          <div style="flex: 1;">
            <ul class="list-group" id="comment-list" style="max-height: 250px; overflow-y: auto;">
              {% for comment in inmate.comments %}
                {% include 'comment.html' %}
              {% endfor %}
            </ul>
          </div>
          <div style="text-align: center;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">
              Add Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>Add Comment</span>
          <button type="button" class="close pull-right" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </h4>
      </div>
      <div id="comment-fieldset" class="modal-body">
        {% include "comment_fieldset.html" %}
      </div>
      <div class="modal-footer">
        <input id="comment-submit" class="btn btn-primary" name="submit" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
</div>
{%- endblock content %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')}}">
<style>
.comment .comment-delete {
  visibility: hidden;
}
.comment:hover .comment-delete {
  visibility: visible;
}
.request .request-delete {
  visibility: hidden;
}
.request:hover .request-delete {
  visibility: visible;
}
.equal, .equal > div[class*='col-'] {  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.panel {
  width: 100%;
}
.dl-horizontal {
  margin-bottom: 0px;
}
.dl-horizontal dt {
  text-align: left;
  width: auto;
  padding: 0.5em 1em 0 0;
}
.dl-horizontal dd {
  width: auto;
  text-align: right;
  margin-left: auto;
  padding: 0.5em 0 0 0;
}
</style>
{%- endblock styles %}
{% block scripts %}
{{ super() }}
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/bootbox/bootbox.min.js') }}"></script>
<script type="application/javascript">
jQuery(window).ready(function($) {
    // enable bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // enable CRSF protection
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    var comments = (function() {
        var getID = function(element) {
            return element.attr('id').replace('comment-', '');
        };

        var add = function(comment) {
            var url = '/add_comment/{{ inmate.autoid }}';
            var query = $.post(url, {comment: comment}, null, 'json');

            query.done(function(result) {
                $("#comment-list").prepend(result["comment"]);
            });

            return query;
        };

        var delete_ = function(id) {
            var url = '/delete_comment/' + id;
            var query = $.ajax({ url: url, type: 'DELETE' });
            query.done(function(){
                $("#comment-" + id).remove();
            });
            return query;
        };

        var handleDeleteButton = function(e) {
            e.stopPropagation();
            $(e.target).prop("disabled", true);

            var id = getID($(e.target).closest('li.comment'));
            var query = delete_(id);

            query.fail(function() {
                setTimeout(function() {
                    $(e.target).prop("disabled", false);
                }, 1000);
            });
        };

        var handleSubmitButton = function(e) {
            e.stopPropagation();
            $("#comment-submit").prop("disabled", true);

            var query = add($("#comment").val());

            query.done(function(result) {
                $("#comment-fieldset").html(result["fieldset"]);
                $('#comment-modal').modal('hide');
                $(".comment-delete").click(handleDeleteButton);
            });

            query.fail(function(result) {
                $("#comment-fieldset").html(result.responseText);
                $('[data-toggle="tooltip"]').tooltip();
            });

            query.always(function() {
                setTimeout(function() {
                    $("#comment-submit").prop("disabled", false);
                }, 1000);
            });
        };

        $("#comment-submit").click(handleSubmitButton);
        $(".comment-delete").click(handleDeleteButton);
    })();


    var requests = (function() {

        var add = function(action) {
            var url = '/add_request/{{ inmate.autoid }}';
            var postmarkdate = $("#postmarkdate").val();
            var data = {postmarkdate: postmarkdate, action: action};
            var query = $.post(url, data, null, 'json');
            query.fail(function(result) { alert(result.responseText); });
            return query;
        };

        var fill = function() {
            var query = add('Filled');

            query.done(function(result) {
                $("#request-table-header").after(result["request"]);
                registerHandlers();
            });

            return query;
        };

        var handleFillButton = function(e) {
            e.stopPropagation();
            $("#request-fill").prop("disabled", true);

            var alerts = checkAlerts();

            alerts.done(function() {
                var warnings = checkWarnings();

                warnings.done(function() {
                    fill().done(function(result) {
                        var id = result["request_autoid"];
                        $('#request-label-' + id).focus();
                    });
                });

                warnings.fail(function() {
                    toss().done(function() {
                        $('#id_').focus();
                    });
                });
            });

            alerts.fail(function() {
                $('#id_').focus();
            });

            alerts.always(function() {
                setTimeout(function() {
                    $("#request-fill").prop("disabled", false);
                }, 1000);
            });
        };

        $("#request-fill").click(handleFillButton)

        var delete_ = function(id) {
            var url = '/delete_request/' + id;
            var query = $.ajax({ url: url, type: 'DELETE' });
            query.done(function() {
                $("#request-" + id).remove();
            });
            return query;
        };

        var getID = function(element) {
            return element.attr('id').replace('request-', '');
        };

        var handleDeleteButton = function(e) {
            e.stopPropagation();
            $(e.target).prop("disabled", true);

            var id = getID($(e.target).closest('tr.request'));
            var query = delete_(id);
            query.fail(function() {
                setTimeout(function() {
                    $(e.target).prop("disabled", false);
                }, 1000);
            });
            return query;
        }

        var toss = function() {
            var query = add('Tossed');
            query.done(function(result) {
                var rendered = result["request"];
                $("#request-table-header").after(rendered);
                registerHandlers();
            });
            return query;
        };

        var handleTossButton = function(e) {
            e.stopPropagation();
            $("#request-toss").prop("disabled", true);

            var query = toss();
            query.done(function() {
                $("#id_").focus();
            });
            query.always(function() {
                setTimeout(function() {
                    $("#request-toss").prop("disabled", false);
                }, 1000);
            });
            return query;
        };

        $("#request-toss").click(handleTossButton);

        var displayAlerts = function(alerts) {
            var override = $.Deferred();
            var buttons = {
                ok:     { label: 'OK' },
                cancel: { label: 'Bypass' }
            };

            bootbox.confirm({
                title: "Alert for this Inmate",
                closeButton: false,
                message: alerts,
                buttons: buttons,
                callback: function(result) {
                    $('.bootbox').on('hidden.bs.modal', function (e) {
                        if(result) {
                            override.reject();
                        } else {
                            override.resolve();
                        }
                    })
                }
            });

            return override;
        };

        var checkAlerts = function() {
            var url = '/inmate_alerts/{{ inmate.autoid }}';
            var query = $.get(url, {}, null, 'html');
            var alert_ = $.Deferred();

            query.done(function(result) {
                if (result) {
                    var override = displayAlerts(result);
                    override.then(
                        function() { alert_.resolve(); },
                        function() { alert_.reject(); }
                    );
                } else {
                    alert_.resolve();
                }
            });

            return alert_;
        };

        var displayWarnings = function(warnings) {
            var override = $.Deferred();
            var buttons = {
                cancel:  { label: 'Bypass' },
                confirm: { label: 'OK' }
            };

            bootbox.confirm({
                title: "Request Warnings",
                closeButton: false,
                message: warnings,
                buttons: buttons,
                callback: function(result) {
                    $('.bootbox').on('hidden.bs.modal', function (e) {
                        if (result) {
                            override.reject();
                        } else {
                            override.resolve();
                        }
                    });
                }
            });

            return override;
        };

        var checkWarnings = function() {
            var url = '/request_warnings/{{ inmate.autoid }}';
            var warning = $.Deferred()
            var data = {postmarkdate: $('#postmarkdate').val()};
            var query = $.post(url, data, null, 'html');

            query.done(function(result) {
                if (result) {
                    var override = displayWarnings(result);
                    override.then(
                        function() { warning.resolve() },
                        function() { warning.reject() }
                    );
                } else {
                    warning.resolve();
                }
            });

            return warning;
        };

        var registerHandlers = function() {
            $(".request-delete").click(handleDeleteButton);
        };

        registerHandlers();
    })();

  // datepicker for postmark date
  $('#postmarkdate').datepicker({
    format: 'yyyy-mm-dd',
    endDate: '{{ date_today }}',
    autoclose: true
  });
});
</script>
{%- endblock scripts %}
