[Unit]
Description=AutoSSH service
After=network-online.target ssh.service

[Service]
User=jstarr
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 10022 -o ControlMaster=no -NR 2222:localhost:22 -o TCPKeepAlive=yes jstarr@jstarr.ddns.net

[Install]
WantedBy=multi-user.target
