[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=jstarr
Group=jstarr
RuntimeDirectory=gunicorn
WorkingDirectory=/home/jstarr/ibp
ExecStart=/home/jstarr/ibp/venv/bin/gunicorn \
    --pid /run/gunicorn/pid \
    --bind unix:/run/gunicorn/socket ibp:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
